@model DishStore.Models.Dish

@{
    ViewData["Title"] = "Подробнее о товаре";
}

<h1>Полная информация о товаре</h1>

<div>
    <hr />
    <div class="card mb-3" style="width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img-top" style="" src="@Url.Content(Model.ImagePath)" alt="Картинки нет">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@Html.DisplayFor(model => model.Name, new{@class="card-title"})</h5>
                    <p class="card-text">Производитель: @Html.DisplayFor(model => model.Manufacturer.Name)</p>
                    <p class="card-text">Страна: @Html.DisplayFor(model => model.Manufacturer.Country)</p>
                    <p class="card-text">Категория: @Html.DisplayFor(model => model.Category.Name)</p>
                    <p class="card-text">Цена: @Html.DisplayFor(model => model.Cost)</p>
                    <p class="card-text">Материал: @Html.DisplayFor(model => model.Material)</p>
                    <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-success">В корзину</a>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Изменить</a>
        <a class="btn btn-secondary m-1" asp-action="Index">Вернуться к редактированию</a>
    }

</div>
