@model IEnumerable<Dish>
@using System.Web;
@{
    ViewData["Title"] = @ViewBag.Category;
}

<div class="text-center" style="display:flex;flex-flow:row wrap;">
    @foreach(Dish dish in Model){
        <div class="card m-2" style="width: 18rem;">
            <a asp-controller="Dish" asp-action="Details" asp-route-id="@dish.Id"><img class="card-img-top" style="height: 16rem;" src="@Url.Content(dish.ImagePath)" alt="Картинки нет"></a>
            <div class="card-body">
                <h5 class="card-title">@dish.Name</h5>
                <p class="card-text">Материал: @dish.Material</p>
                <p class="card-text">Стоимость: @string.Format("{0:C2}", @dish.Cost)</p>
                @Html.Hidden("returnUrl", @Context.Request.Path)
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@dish.Id" class="btn btn-success">В корзину</a>
            </div>
        </div>
    }
</div>

