@model IEnumerable<DishStore.Models.Dish>

@{
    Layout = "_LayoutRedact";
    ViewData["Title"] = "Редактирование";
}

<h1 class="mb-4">Посуда</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить запись</a>
</p>
<div class="bg-light p-3">
    <form class="form" method="get">
        <div class="d-flex">
            <div style="margin-right:20px;">
                <label class="form-label">Категория</label>
                <div>
                    @Html.DropDownList("category", ViewBag.Categories as SelectList, "Все", new{@class="form-select"})
                </div>
            </div>
            <div style="margin-right:20px;">
                <label class="form-label">Максимальная цена</label>
                <input name="cost" class="form-control" type="number" min="0" required="required" value="0"/>
            </div>
            <div style="margin-right:20px;">
                <label class="form-label">Производитель</label>
                <div>                
                    @Html.DropDownList("manufacturer", ViewBag.Manufacturers as SelectList, "Все", new{@class="form-select"})
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-info">Фильтр</button>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Название")
            </th>
            <th>
                @Html.DisplayName("Материал")
            </th>
            <th>
                @Html.DisplayName("Цена")
            </th>
            <th>
                @Html.DisplayName("Изображение")
            </th>
            <th>
                @Html.DisplayName("Категория")
            </th>
            <th>
                @Html.DisplayName("Производитель")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="align-middle col-2">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-middle col-1">
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td class="align-middle">
                <img src="@Url.Content(item.ImagePath)" style="width: 112px; height: 112px;"/>
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="align-middle">
                @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </td>
            <td class="align-middle">
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Изменить</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Детали</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
