@model DishStore.Models.Order

@{
    ViewData["Title"] = "Подробнее";
}

<h1>Полная информация о заказе</h1>

<div>
    <hr />
    <div class="card mb-3" style="width: 1000px;">
        <div class="row no-gutters">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title fw-bold">@Html.DisplayFor(model => model.Name, new{@class="card-title"})</h5>
                    <p class="card-text">Логин: @Html.DisplayFor(model => model.User.Login)</p>
                    <p class="card-text">Адрес: @Html.DisplayFor(model => model.Address)</p>
                    <p class="card-text">Способ оплаты: @Html.DisplayFor(model => model.PaymentMethod)</p>
                    <p class="card-text">Почта: @Html.DisplayFor(model => model.Email)</p>
                    <p class="card-text">Номер телефона: @Html.DisplayFor(model => model.PhoneNumber)</p>
                    <p class="card-text">Дата заказа: @Html.DisplayFor(model => model.DateOrder)</p>
                    <p class="card-text">Список товаров в заказе:</p>
                    <ul>
                        @foreach (var dish in Model.DishOrders)
                        {
                            <li>@dish.Dish?.Name</li>
                        }
                    </ul>
                        
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-secondary" asp-action="Index">Редактирование</a>
</div>